/* ---- FORMULARIOS (GRID) ---- */
.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    align-items: end; 
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group-full {
    grid-column: 1 / -1;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
}

.form-grid input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#PrevistaImagenANV {
    display: block;
    max-width: 300px;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

@media (max-height: 1024px) {
      .modal-content {
        max-height: 89vh; 
        max-width: 1080px;/* Máximo 90% de la altura visible */
        overflow-y: auto; /* Permite scroll interno si el contenido es muy alto */
        padding: 20px;
        margin: 10px auto; /* Centrado */
        width: 90%;
    }
    }